ColorLink 	     = #2C6FB3
ColorCRo         = #000F37
ColorRadiozurnal = #ED2E38
ColorDvojka      = #85248F
ColorVltava      = #00B8E0
ColorPlus        = #DE7008
ColorRegion      = #00AB96
ColorRadioWave   = #CDA200
ColorJazz        = #00809E
ColorDdur        = #AB035C
ColorZelenaVlna  = #009645

ColorHeading = #ab0000
ColorHeadingLink = #003366
ColorGreyBg  = #eee

PartyKSCM = #e3001a
PartyCSSD = #f29400
PartyODS  = #006ab3
PartyTOP  = #7c0042
PartyVV   = #84d0f1
PartySPOZ = #FB9A99
PartySZ   = #00AD00
PartyKDU  = #000000
