@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .map
    position absolute
    width 400px
    svg
      .mesh
        fill none
        stroke black
        stroke rgb(103,0,13)
